<h1><%=@team.name%></h1>
<h1>Team Motto: <%=@team.motto%><br>

<%@superheros.each do |hero|%>
<h1>Hero Name: <%=hero.name%></h1><br>

<h3>Hero Power: <%=hero.power%></h3>
<h3>Hero Biography: <%=hero.bio%></h3>

<%end%>


